# Virtual environments
traf_env/
venv/
env/

# ML outputs & logs
logs/
runs/
tuner_logs_multi/
scripts/logs/
scripts/runs/

# Large ML files
models/
*.pt
*.h5
*.keras
*.pkl
*.npy

# Python cache
__pycache__/
*.pyc

# Full datasets & videos
data/dataset/
data/uploads/
data/videos/
